body {
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0d1117;
    color: #c9d1d9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    font-family: 'Poppins', sans-serif;
    background-color: #161b22;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #8b949e; /* Light gray for labels */
}

input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #30363d; /* Dark border */
    background-color: #0d1117;
    color: #c9d1d9;
}

button {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: #4c51bf; /* GitHub purple for buttons */
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #4338ca;
}

#result {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}
